<div class="gv-slice">
		<div class="gv-inner" style="padding-top:0;">

				
				<div class="gv-head-wrapper" style="">
    				<div class="gv-head-container" style="">

	        			<div class="gv-head-col-one">

	        			<!-- //TestingImages - maybe duotone them and put them inside div USE FIGURES????-->

	        			 	<div class="grahamArsenal arsenal mgr-slide"></div>
	        				<div class="rioch arsenal mgr-slide"></div>
	        				<div class="wenger_1997 arsenal mgr-slide"></div>
	        				<div class="wenger_2000 arsenal mgr-slide"></div>
	        				<div class="wenger_2004 arsenal mgr-slide"></div>
	        				<div class="wenger_2008 arsenal mgr-slide"></div>
	        				<div class="wenger_2012 arsenal mgr-slide"></div> 
	        				 <div class="wenger_2017 arsenal mgr-slide"></div>
	        			</div>
	        			<div class="gv-head-col-two ">
	        				<div class="venables spurs mgr-slide"></div>
	        				<div class="ardiles spurs mgr-slide"></div>
	        				<div class="francis spurs mgr-slide"></div>
	        				<div class="gross spurs mgr-slide"></div>
	        				<div class="grahamSpurs spurs mgr-slide"></div>
	        				<div class="hoddle spurs mgr-slide"></div>
	        				<div class="jol spurs mgr-slide"></div>
	        				<div class="ramos spurs mgr-slide"></div>
	        				<div class="redknapp spurs mgr-slide"></div>
	        				<div class="avb spurs mgr-slide"></div>
	        				<div class="pochettino spurs mgr-slide"></div>
	        			</div>

			    	</div>
				</div>
			<div class="gv-head-text-holder">
				Arsenal v Tottenham
			</div>
		</div>
</div>






