<div class="gv-slice">
		<div class="gv-inner" style="padding-top:0;">

				
				<div class="gv-head-wrapper" style="">
    				<div class="gv-head-container" style="">

	        			<div class="gv-head-col-one">

	        			<!-- //TestingImages - maybe duotone them and put them inside div USE FIGURES????-->

	        			 	<div class="wenger_co arsenal mgr-slide"><img src="<%= path %>/assets/imgs/wengerCO.png"/></div>
	        			
	        			</div>
	        			<div class="gv-head-col-two ">
	        				<div class="poch_co spursAway mgr-slide"><img src="<%= path %>/assets/imgs/pochCO.png"/></div>
	        				
	        			</div>

			    	</div>

			    	<div class="gv-head-text-holder">
			    		<h3>football</h3>
						<h1>Arsenal v Tottenham</h1>
						<div class="standfirst-para">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
					</div>
				</div>
			
		</div>
</div>






