
<div class="gv-slice scorer-slice" id="scorerContent">
	
	<div class="gv-inner">
		<div class="gv-section-title">
			<!-- <h2 class="slice-one-header">Head-to-head</h2> -->
		</div>

		<div class="gv-inner-content">
			
					
			<ul class="gv-scorer-wrapper">
			{{#data}}
				<li class="list-item-{{{scorerRef}}} gv-list-item">
					<div class="styled-name">{{{printScorer}}}</div>

					<div class="styled-number">{{{goalTally}}}</div>

					{{#matches}}
					<div class="gv-print-result none-mobile">
						<div class="gv-date">{{{Date}}}</div> 

					
						<div class="gv-home-team">{{{printHomeTeam}}}</div> <div class="gv-goals">{{{printScore}}}</div> <div class="gv-away-team">{{{printAwayTeam}}}</div>
					</div>


					{{/matches}}

				</li>	
				{{/data}}
			</ul>



		</div>
	</div>
	
</div>
