$graph-1: $arsenal-color;
$graph-2: $spurs-color;
$axis-neutral: $neutral-5;

.attendance-chart {
	max-width: 760px;
	min-height: 80px;
	overflow: hidden;
	position: relative;
	@media(min-width:740px){
		min-height: 400px;
	}


	.customLine, .riskLine {
		fill: none;
		stroke-width: 2px;

		&.a {
			stroke: $graph-1;
		}

		&.t {
			stroke: $graph-2;
		}

		
		&.dataVisible {
			stroke-opacity: .25;
		}

		shape-rendering: crispEdges;
	}

	.riskLineUser{
		stroke:none;
	}

	.firstTick{
		stroke-dasharray: none;
		stroke-width: 1px;

	}

	.tick, .sourceHolder{
		stroke-width:1px;
		@include fs-textSans(1);
		fill: $axis-neutral;
		// stroke: $axis-neutral !important;
		shape-rendering: crispEdges;
		// stroke-dasharray: 1, 5;
	}

	.tick text{
		fill: $neutral-2;
		stroke:none;
	}

	.axes path, .axes line {
		    fill: none;
		    stroke: $axis-neutral;
		    shape-rendering: crispEdges;
	}

	.customYaxis{
		fill: none;
		    stroke: $axis-neutral;
		    shape-rendering: crispEdges;

	}

	.customYaxis line , .customXaxis line{
		fill: none;
		    stroke: $axis-neutral;
		    shape-rendering: crispEdges;
	}

	.customYaxis text , .customXaxis text, customYaxis tick text,customXaxis tick text{
			@include fs-textSans(1);
			fill: $neutral-3;
		    stroke: none;
		    shape-rendering: crispEdges;
	}

	.customYaxis path{
		stroke:none;
	}

	.customXaxis path{
		stroke: $axis-neutral;
		    shape-rendering: crispEdges;

		.domain{
			stroke:none;
		}     
	}


	.customCircle {
		display: none;

		&.customCirclesActive {
			display: block;
		}
	}


	.customCircle-a {
		fill: $graph-1;
	}

	.customCircle-t {
		fill: $graph-2;
	}


	.gv-source{
	margin-top: 0;
	@include fs-textSans(1);
	color: $neutral-3;


}

}

.gv-label1 {
	position: absolute;
	color: #333;
	bottom: 10px;
	width: 125px;
	left: calc(50% - 62px);
	text-align: center;
	@include fs-textSans(1);
	color: 333;
	font-size: 14px;
	font-weight: bold;

}



.gv-label3 {
	position: absolute;
	color: #333;
	bottom: 0px;
	width: 125px;
	left: calc(50% - 62px);
	text-align: center;
	@include fs-textSans(1);
	color: 333;
	font-size: 14px;
	font-weight: bold;

}


.gv-label2 {
	position: absolute;
	top: 4px;
	color: #333;
	left: 75px;

	@include fs-textSans(1);
	color: $neutral-2;

	font-weight: normal;

}