.gv-scorer-wrapper {
		height:auto;

		ul{
			position:relative;
			list-style-type: none;
		    margin: 0;
		    padding: 0;
		    height:800px; 
		}

	    li {
    	    display: inline-block;
		    width: 100%;
		    max-width: 179px;
		    padding-right: 10px;
		    margin-right: 10px;
		    height: 100%;
		    text-align: top;
		    vertical-align: top;
		    border-right: 1px solid #dcdcdc;
		    height: 720px;
		}

		li:first-child{
		    margin-left: 54px;
		}

		li:last-child{
		    border: 0;
		}

}

.home-team-pip, .away-team-pip{
	opacity:0.8;
}

.gv-date{
	@include fs-textSans(2);
	color:$neutral-3;
	clear:both;
}

.gv-match-result{
	@include fs-textSans(2);
	clear:both;
}

.gv-home-team{
	float:left;
	width: 66px;
	text-align:left;
}

.gv-goals{
	float:left;
	width: 39px;
	text-align:center;
}
.gv-away-team{
	float:right;
	width: 66px;
	text-align:left;
}

.pips-holder{
	position:relative;
	@include fs-textSans(3);
	line-height:6px;
	color:$neutral-3;
	margin-bottom:$gs-baseline;

}

.gv-print-result{
	margin-bottom: gs-height(1);
	@include fs-textSans(3);
	color:$neutral-2;
}


.gv-list-item{
	background-position: top right;
    background-repeat: no-repeat;
    background-size: auto;
}

.gv-goal-pip{
	display:inline-block;
	width:$gs-baseline*0.5;
	height:$gs-baseline*0.5;
	background-color:$neutral-4;
	border-radius:500px;

}

.hl-pip{
	opacity:0.8;
	background-color:$accent-color;
}

.spurs{
	fill:$spurs-color;
	color:$spurs-color;
	background-color:$spurs-color;
}

.arsenal{
	fill:$arsenal-color;
	color:$arsenal-color;
	background-color:$arsenal-color;
}

.neutral-team{
	fill:$neutral-team-color;
	color:$neutral-team-color;
	background-color:$neutral-team-color;
}

// .list-item-Adebayor{
// 	background-image: url('<%= path %>/assets/imgs/Adebayor.png');
// }

// .list-item-Pires{
// 	background-image: url('<%= path %>/assets/imgs/Pires.png');
// }

// .list-item-Kane{
// 	background-image: url('<%= path %>/assets/imgs/Kane.png');
// }

// .list-item-Bale{
// 	background-image: url('<%= path %>/assets/imgs/Bale.png');
// }

// .list-item-Henry{
// 	background-image: url('<%= path %>/assets/imgs/Henry.png');
// }

// .list-item-van-Persie{
// 	background-image: url('<%= path %>/assets/imgs/van-Persie.png');
// }
