// .scorer-slice{
// 	.scorer-head-name{
// 		@import fs-headline(6);
// 	}
// 	.scorer-head-number{
// 		@import fs-headline(9);
// 		font-weight:200;
// 	}
// }

.gv-scorer-wrapper {
		height:auto;

		ul{
			position:relative;
			list-style-type: none;
		    margin: 0;
		    padding: 0;
		    height:800px; 
		}

	    li {
    	    display: inline-block;
		    width: 100%;
		    max-width: 179px;
		    padding-right: 19px;
		    margin-right: 10px;
		    height: 100%;
		    text-align: top;
		    vertical-align: top;
		    border-right: 1px solid #dcdcdc;
		    height: 720px;
		}

		li:first-child{
		    margin-left: 24px;
		}

		li:last-child{
		    border: 0;
		}



}

.home-team-pip, .away-team-pip{
	opacity:0.8;
}

.hl-pip{
	opacity:0.8;
	color:$accent-color;
}

.gv-date{
	@include fs-textSans(3);
	color:$neutral-3;
}

.gv-match-result{
	@include fs-textSans(3);
}

.gv-home-team{
	float:left;
	width: 66px;
	text-align:left;
}

.gv-goals{
	float:left;
	width: 39px;
	text-align:center;
}
.gv-away-team{
	float:right;
	width: 66px;
	text-align:left;
}

.pips-holder{
	@include fs-textSans(3);
	line-height:12px;
	color:$neutral-3;

}

.gv-print-result{
	margin-bottom: gs-height(1);
	@include fs-textSans(3);
	color:$neutral-2;
}


.gv-list-item{
	background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 180px;
}

// .list-item-Adebayor{
// 	background-image: url('<%= path %>/assets/imgs/Adebayor.png');
// }

// .list-item-Pires{
// 	background-image: url('<%= path %>/assets/imgs/Pires.png');
// }

// .list-item-Kane{
// 	background-image: url('<%= path %>/assets/imgs/Kane.png');
// }

// .list-item-Bale{
// 	background-image: url('<%= path %>/assets/imgs/Bale.png');
// }

// .list-item-Henry{
// 	background-image: url('<%= path %>/assets/imgs/Henry.png');
// }

// .list-item-van-Persie{
// 	background-image: url('<%= path %>/assets/imgs/van-Persie.png');
// }
