.gv-scorer-wrapper {
	height:auto;
	margin-left:10px;

	@include mq(tablet){
		margin-left:0;
	}

	@include mq(desktop){
		margin-left:160px;
	}
	@media(min-width:1300px){
		margin-left:220px;
	}

	ul{
		position:relative;
		list-style-type: none;
	    margin: 0 0 gs-height(1) 0;
	    padding: 0;
	    height: auto;	  
	}

    li {
	    display: inline-block;
	    width: 100%;
	    max-width: 150px;
	    padding-right: 10px;
	    margin-right: 10px;
	    height: 100%;
	    text-align: top;
	    vertical-align: top;
	    // border-right: 1px solid #dcdcdc;
	}

	li:first-child{
		@include mq(tablet){
	    	margin-left: 20px;
	    }	    
	}

	li:last-child{
	    border: 0;
	    margin-right:0;
	    padding-right:0
	}

	.home-team-pip, .away-team-pip{
		opacity:0.8;
	}

	.gv-date{
		@include fs-textSans(1);
		line-height:$gs-baseline+1;
		color:$neutral-3;
		clear:both;
	}

	.gv-match-result{
		@include fs-textSans(1);
		clear:both;
	}

	.gv-home-team, .gv-away-team{
		float:left;
		width: 60px;
		text-align:left;
	}
	.gv-away-team{
		float:left;
		text-align:left;
	}
	.gv-goals{
		float:left;
		width: 40px;
		text-align:center;
	}


	.pips-holder{
		position:relative;
		@include fs-textSans(3);
		line-height:6px;
		color:$neutral-3;
		margin-bottom:$gs-baseline*1.25;

	}

	.gv-print-result{
		margin-bottom: gs-height(1);
		@include fs-textSans(1);
		color:$neutral-2;
	}


	.gv-list-item{
		background-position: top right;
	    background-repeat: no-repeat;
	    background-size: auto;

	    h5{
	    	@include fs-header(2);
	    	line-height: 20px;
	    	margin-bottom:0;
	    }
	     h6{
	    	@include fs-headline(2);
	    	margin-bottom:$gs-baseline*2;
	    }
	}

	.gv-goal-pip{
		display: inline-block;
	    width: 4px;
	    height: 9px;
	    border: 1px solid  darken($neutral-4, 10) !important;
	    background-color: $neutral-4;
	    border-radius: 500px;
	    &.spurs{
			 border: 1px solid darken($spurs-color, 10) !important;
		}
		&.arsenal{
			 border: 1px solid darken($arsenal-color, 10) !important;
		}

	}

	.hl-pip{
		opacity:0.8;
		background-color:$accent-color;

	}




}

.spurs, .Tottenham{
	fill:$spurs-color !important;
	color:$spurs-color !important;
	background-color:$spurs-color !important;
}

.spursAway{
	fill:$spursAway !important;
	color:$spursAway !important;
	background-color:$spursAway !important;
}

.arsenal, .Arsenal{
	fill:$arsenal-color !important;
	color:$arsenal-color !important;
	background-color:$arsenal-color !important;
}

.neutral-team{
	fill:$neutral-team-color !important;
	color:$neutral-team-color !important;
	background-color:$neutral-team-color !important;
}


.season-container{
	line{
		stroke-width:1px;
		stroke:$neutral-3;
	}

	.matchline{
		stroke-dasharray: 1, 3;
	}

	.season-label{
		@include fs-textSans(1);
		font-size:10px;
		color:$neutral-3;
	}

	margin-bottom:$gs-baseline;

}

// .list-item-Adebayor{
// 	background-image: url('<%= path %>/assets/imgs/Adebayor.png');
// }

// .list-item-Pires{
// 	background-image: url('<%= path %>/assets/imgs/Pires.png');
// }

// .list-item-Kane{
// 	background-image: url('<%= path %>/assets/imgs/Kane.png');
// }

// .list-item-Bale{
// 	background-image: url('<%= path %>/assets/imgs/Bale.png');
// }

// .list-item-Henry{
// 	background-image: url('<%= path %>/assets/imgs/Henry.png');
// }

// .list-item-van-Persie{
// 	background-image: url('<%= path %>/assets/imgs/van-Persie.png');
// }
